<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Your Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"/>
</head>
<body>
    <div style="float:left;border:1px solid black;"><a href="{% url 'template_submit' 1 %}"><img src="https://s3.ap-south-1.amazonaws.com/18suryateja.demo1/resumeTemplate1.png" height="700" width="700"></a></div>
    <div style="float:right;border:1px solid black;"><a href="{% url 'template_submit' 1 %}"><img src="https://s3.ap-south-1.amazonaws.com/18suryateja.demo1/resumeTemplate2.png" height="500" width="700"></a></div>
</body>
</html>