<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Your Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"/>
</head>
<body>
<div style="bgcolor:lightblue;"><div style="float:left">Logged in as: <i style="color:red">{{user}}</i></div><div style="float:right;"><a href="{% url 'logout' %}"><button>Logout</button></a></div></div>
    <br><hr>
<center><h1>Select Template</h1></center>
    <center>
        <div>Template 1<div style="border:1px solid black;"><a href="{% url 'template_submit' 1 %}"><img src="https://resbucket587.s3.ap-south-1.amazonaws.com/template1.PNG" height="500" width="50%"></a></div></div><hr>
        <div>Template 2: <div style="border:1px solid black;"><a href="{% url 'template_submit' 2 %}"><img src="https://resbucket587.s3.ap-south-1.amazonaws.com/template3.jpg" height="500" width="50%"></a></div></div><hr>
        <div>Template 3: <div style="border:1px solid black;"><a href="{% url 'template_submit' 2 %}"><img src="https://resbucket587.s3.ap-south-1.amazonaws.com/template2.PNG" height="500" width="50%"></a></div></div><hr>
        <div>Template 4: <div style="border:1px solid black;"><a href="{% url 'template_submit' 1 %}"><img src="https://resbucket587.s3.ap-south-1.amazonaws.com/template4.jpg" height="500" width="50%"></a></div></div><hr>
    </center>
</body>
</html>